.container {
  max-width: 720px;
  margin: 0 auto 0;
}

.exitPreview {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

  color: var(--background);
  background: var(--heading);
  border-radius: 4px;

  margin-top: 5rem;
  margin-bottom: 5rem;
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;

  font-weight: 600;
  font-size: 1.125rem;
}
